services:
  app:
    build: .
    container_name: app
    depends_on:
      - mongo
      - redis
    volumes:
      - ./app:/app
    stdin_open: true
    tty: true
    command: bash
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7.4
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
